body,
h1,
h2,
a,
p,
ul,
footer,
header,
li {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: #c9b0e2;
  color: #0F0F0F;
  text-align: center;
  padding: 20px;
}

header h1 {
  font-size: 36px;
  font-family: 'Arial', sans-serif;
}

nav {
  background-color: #decef0;
  color: #0F0F0F;
  text-align: center;
  padding: 10px;
}

nav ul {
  list-style: none;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #0F0F0F;
  font-size: 18px;
  font-family: 'Arial', sans-serif;
}

main {
  padding: 50px;
  height: 50vh;
}

section {
  background-color: #f5f5f5;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  color: #0F0F0F;
  font-size: 24px;
}

section p {
  color: #0F0F0F;
}

aside {
  background-color: #a586ba;
  color: #0F0F0F;
  text-align: center;
  padding: 3px;

}

aside h3 {
  font-size: 24px;
  font-family: 'Arial', sans-serif;
}

aside ul {
  list-style: none;
}

aside li {
  margin-bottom: 10px;
}

aside a {
  text-decoration: none;
  color: #0F0F0F;
  font-size: 18px;
}

footer {
  background-color: #decef0;
  color: #0F0F0F;
  text-align: center;
  padding: 10px;
  font-size: 16px;
}